/* font-family: 'Raleway',
sans-serif;
font-family: 'Roboto',
sans-serif; */

/* :root {
    --first-web-color: #4D5AE5;
    --secondary-web-color: #2E2F42;
    --slate: #434455;

} */

:root {
  --background: #ffffff;
  --logo: #4d5ae5;
  --logo-studio: #2e2f42;
  --nav-bar: #2e2f42;
  --address: #434455;
  --background-hero: #2e2f42;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: var(--background);
}

.logo-studio-web {
  font-family: 'Raleway' sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--logo);
}

.logo-studio {
  color: var(--logo-studio);
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.nav-bar-item {
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
  color: var(--nav-bar);
}
.nav-bar-item:hover,
.nav-bar-item:focus {
  color: #404bbf;
}

.address-header {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--address);
}

.address-header:hover,
.address-header:focus {
  color: #404bbf;
}

.hero-back {
  background: var(--background-hero);
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.button-hero {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;
  color: #ffffff;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.button-hero:hover,
.button-hero:focus {
  background-color: #404bbf;
}

.about-us-title {
  width: 264px;
  height: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.about-us-direction {
  width: 264px;
  height: 72px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.What-are-we-doing {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.our-team-section {
  background: #f4f4fd;
}

.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.our-team-card {
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 32px;
  gap: 32px;
}

.our-team-name {
  width: 134px;
  height: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.our-team-direction {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}

.footer {
  background: #2e2f42;
}

.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-footer-studio {
  color: #f4f4fd;
}

.footer-direction {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
